// Specific CSS for your home-page

.homebtns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
}

.home-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btn-img {
  width: 300px;
  height: 160px;
  object-fit: cover;
}

.btn-flat {
  padding: 24px 24px;
  background: #A6DAD1;
  color: white;
  width: 300px;
  font-size: 24px;
  margin-left: 0;
  display: flex;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
}


.btn-review {
  border-radius: 10px;
  padding: 0px 24px;
  width: 620px;
  display: inline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  img{
    width: 100%;
    height: 285px;
    object-fit: cover;
    object-position: center;
    max-width: 800px;
  }

}

.walker-image {
  height: 255px;
}

.become-owner-img {
  margin-left: 0;
}
