// Import page-specific CSS files here.
@import "home";

.dogs-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 16px;
   margin: 40px;
 }

.dog-trip {
  border-radius: 40px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 25px;
}

.details-container {
  margin: 10px;
}

.dog-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
