.showpagecontainer {
  max-height: 100vh;
}

.dog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  h5 {
    padding: 5px;
  }

  #dog-name {
  background-color: #F6AE99;
  }

}

.attrib-container {
  display: flex;
}

.edit-btn {
  display: flex;
  justify-content: center;
  margin-left: 125px;
}

.container-dogshow{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: 100px;
}

.dog-info-show{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.3);

  img {
    border-radius: 10px;
  }
}

.show-container-text {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: #716F81;
  p {
    font-size: 16px;
  }
}

.icons-show{
  display: flex;
  justify-content: space-between;
  width: 58%;
}

.fas-position{
  //#position: absolute;
  right: 10px;
  top: 10px;
}

.fas-lg-card {
  font-size: 20px;
}

.dog-booking-show {
  width: 600px;
  height:400px;
  margin-left: 100px;
  background-color: white;
  padding: 64px;
  border-radius: 30px;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
}

.create-bookbtn{
  width: 100%;
  text-align: center;
  height: 46px;
  padding: 0;
  border: none;
  border-radius: 5px;
  padding-left: 105px;
  padding-top: 10px;
  input {
    text-align: center;
  }
}

.unsaved {
  color:#716F81;
  opacity: 0.7;
}
.saved {
  color:#B97A95;
}
.card {
    border-radius: 10px;
}

.col-md-3 {
  max-width: 100%;
}


.form-control-review {
  height: 100px;
  width: 620px;

}


#favorite-link {
  margin: 0;
  font-size: 40px;
  position: absolute;
  right: 24px;
  top: 18px;
  opacity: 0.9;
}
