<div class="profile-wrapper">

  <%= render 'shared/side_navbar' %>

  <div class="bio-wrapper container">

    <div data-controller="search-dogs">
      <div class="index-search-container">
        <div class="search-map-layout">
          <div class="search-bar">
            <%= form_with url: dogs_path, method: :get, html: { class:
            'mb-4', data: { search_dogs_target: 'form' } } do |f| %>
            <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search for breed, gender or size (small, medium or large)',
                      value: params[:query],
                      data: { search_dogs_target: 'input', action: 'keyup->search-dogs#update' } %>
            <% end %>
          </div>
        </div>
      </div>

      <%= render 'list', dogs: @dogs %>

    </div>
  </div>
</div>
