<div data-controller="search-dogs">
  <%= form_with url: dogs_path, method: :get, html: { class:
    'mb-4', data: { search_dogs_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                  class: "form-control",
                  placeholder: 'Search for breed, gender or size (small, medium or large)',
                  value: params[:query],
                  data: { search_dogs_target: 'input', action: 'keyup->search-dogs#update' } %>
  <% end %>

  <%= render 'list', dogs: @dogs %>
</div>
