.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: #F6AE99;
  padding: 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 20px;
  width:100%;

  a {
    color:#F4F4F4;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none;
    color:white;
  }

  p {
    font-size: 24px;
  }

}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification {

  display: flex;
  transition: ease .3s;
  align-items: center;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: -5px;
  font-size: 14px;
  height: auto;

}

.notification .notification-actions a:hover {
  color: #F4F4F4;
}

.fa-check-circle:before {
  margin-left: 10px;
}

.fa-times-circle:before {
margin-left: 10px;
}

.fa-comment-dots:before {
margin-left: 10px;
margin-right: 10px;
}


#send-button {
  background-color: #A6DAD1;
  border-radius: 8px;
  padding: 8px;
  color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 160px;
  align-items: center;
  margin-right: 20px;
}

#send-button:hover {
  text-decoration: none;
  color: #F6AE99;
}


.notification-actions {
  display: flex;
  transition: ease .3s;
  align-items: center;
  width: 230px;
  justify-content: right;

  p {
    font-size: 18px;
    margin-left: 10px;
  }

  h4 {
    color: #B97A95;
  }

  i {
    color: #B97A95;
    margin-left: 10px;
  }

  i:hover {
    color: #F4F4F4;
  }
}
