.chatroom {
  background: #F6AE99;
  margin-top: 50px;
  width: 70%;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 200px;
  border-radius: 20px;

  h1 {

    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: auto;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  input {
    border-radius: 10px;
    border: none;
  }
}


.message-box1 {
  background-color: #A6DAD1;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  small {
    color: #B97A95;
  }
}

.message-box2 {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  small {
    color: #B97A95;
  }
}


.chat-name-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $gray-200;

  img {
    height: 60px;
    width: 60px;
  }
}
