.footer {
  background: #F6AE99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #0000004d;
}
.footer-links {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin: 0px;
  max-height: 55px;
}
.footer-links a:hover {
  opacity: 1;
  color: white;
}
.footer .fa-heart {
  color: black;
}
.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
