.mapboxgl-popup {
  max-width: 200px;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 260px;
  padding: 0;
  border-radius: 45px;
  h2 {
    margin-top: 10px;
    font-size: 35px;
  }
  h5 {
    padding: 0px 10px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: left;
    padding-left: 16px;
  }
  h4{
    font-size: 27px;
    text-align: left;
    padding-left: 16px;
  }
  .btn {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
  }
}

.mapboxgl-popup-content img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
 }

.mapboxgl-popup-content p {
  margin: 5px;
}


#button-map-details {
  height: 40px;
  width: 100px;
}
#button-map-details:hover {
  opacity: 0.9;
}

.map {
  position: sticky;
  top: 0;
}

.map-card-container {
  width:90vw;
  display: flex;
  justify-content: space-between;
}

.btn-width a {
  width: 100%;
}

.map.mapboxgl-map {
  border: 2px solid #716F81;
  border-radius: 30px;
  margin-right: 16px;
  margin-top: 40px;
}

.mapboxgl-canvas {
  width: 615.016px !important;
}
