.mapboxgl-popup {
  max-width: 200px;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 350px;
}

.mapboxgl-popup-content img {
  object-fit: cover;
 }

.mapboxgl-popup-content p {
  margin: 5px;
}
.mapboxgl-popup-content img {
  border-radius: 5px;
}

#button-map-details {
  height: 40px;
  width: 100px;
}
#button-map-details:hover {
  opacity: 0.9;
}

.map {
  position: sticky;
  top: 0;
}

.map-card-container {
  width:90vw;
  display: flex;
}

.btn-width a {
  width: 100%;
}

.map.mapboxgl-map {
  margin-right: 16px;
  margin-top: 60px;
}

.mapboxgl-canvas {
  width: 615.016px !important;
}
