.navbar-lewagon {
  justify-content: space-between;
  background:#F6AE99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
  height: 100%;
}

.profile-wrapper{
  display: flex;
}

.username{
  margin-top: 7px;
}

.nav-item-dropdown{
  margin-left: 20px;
}

.dropdown-item {
  &:hover{
    background-color: lightgrey;
    width: 90%;
  }
}

.navlogo {
  width: 148px;

}

#navlogo1 {
  width: 50px;
}

.navlogo2 {
  margin-left: -15px;
  margin-top: 4px;
}


.navbar-nav {
  // display: flex;
  // justify-content: center;
  // background-color: aliceblue;
  // border-radius: 20px;
  // padding-left: 8px;
  // opacity: 0.8;
  align-items: center;

  h6 {
    font-weight: bold;
  }

}
