.navbar-lewagon {
  justify-content: space-between;
  background:#F6AE99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.profile-wrapper{
  display: flex;
}

.side-nav {
  display: flex;
  flex-direction: column;
  height:100vh;
  background-color: #f7e1da;
}
