.side-nav {
  display: flex;
  flex-direction: column;
  background-color: #716F81;
  padding: 35px;
  position: sticky;
  top: 0;
  min-height: 90vh;
  a {
    margin-left: 0;
  }
}
.side-nav i {
 color: #F6AE99;
 margin-top: 20px;
}
.side-nav i:hover {
 color: #F4F4F4;

}
a:hover {
  text-decoration: none;
}
